<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    
    <h1>Hello World</h1>
    
    {% for topic in topics %}
    <a href="?id={{ topic.id }}">{{ topic }}</a> |
    {% endfor %}
    <a href="/">All</a> - <a href="{% url 'add_topic' %}" role="button">+</a>
    
    {% for  book in books %}
    <p>{{ book }}  ({{ book.topic.name }} - {{ book.topic.id }})</p>
    {% endfor %}
    
    <hr>
    
    <a href="{% url 'add_book' %}">Add Book</a>
    
</body>
</html>